.container {
    width:500px;
    text-align:center;
    margin :0 auto;
    border:1px solid darkred;
    padding:10px 10px;
    margin-top:10%;
    font-family:sans-serif;
    background:#d7d7d7;
}
input,option {
    padding: 10px;
    
}

.button {
    padding:10px;
    text-decoration: none;
    background:darkblue;
    color:white;
    border:none;
    box-shadow:1px 2px black;
    cursor:pointer;
}
.button:hover{
    background-color: darkgreen;
    color:white;
    transition:.8s;
    font-size: 20px;
    box-shadow: 3px 2px black;
}